@import url('https://fonts.googleapis.com/css2?family=Righteous&display=swap');

:root {
    font-size: 12px;
    /* line-height: 1; */
}

/* CSS Reset */
* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

html {
    background-color: #110022;
}

/* Change the auto fill color */
input:-webkit-autofill,
input:-webkit-autofill:hover, 
input:-webkit-autofill:focus, 
input:-webkit-autofill:active  {
    -webkit-box-shadow: 0 0 0 30px white inset !important;
}

body {
    font-family: 'Righteous', cursive;
    /* background: #ffffff; */
    width: 100vw;
}

h1 {
    font-weight: 600;
    text-transform: capitalize;
}


a {
    text-decoration: none;
    color: #fff;
}

main {
    display: flex;
    flex-direction: column;
    width: 100vw;
    height: calc(100vh - 4em);
    justify-content: center;
    align-items: center;
    padding: 2em 0;
    border: 8px solid #fff;
}

.header {
    padding: 1em;
    width: 100vw;
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #110022;
    color: #fff;
    position: sticky;
    top: 0;
    z-index: 10;
}

#menu {
    display: block;
    text-align: center;
    right: 0;
    background-color: rgb(42, 86, 218);
    padding: 4em 2em;
    width: 100vw;
}

#menu-icon,
#close-menu-btn {
    display: block;
    cursor: pointer;
    pointer-events: fill;
    font-size: 2em;
}

#close-menu-btn {
    position: absolute;
    z-index: 2;
    top: 0.5em;
    right: 0.5em;
    display: none;

}

#menu a {
    display: block;
    padding: 1.2em;
    width: fit-content;
    margin: 0 auto;
    color: #fff;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

#menu-wrapper {
    border-radius: 0 0 0 0;
    overflow: hidden;
    position: absolute;
    top: 0;
    left: 0;
    z-index: 1;
    -webkit-transform-origin: top right;
    -moz-transform-origin: top right;
    -ms-transform-origin: top right;
    -o-transform-origin: top right;
    transform-origin: top right;
    -webkit-clip-path: circle(0% at 100% 0%);
    -moz-clip-path: circle(0% at 100% 0%);
    -ms-clip-path: circle(0% at 100% 0%);
    -o-clip-path: circle(0% at 100% 0%);
    transition: all 0.5s ease;
}

#menu-wrapper-shadow {
    display: none;
    position: absolute;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    background-color: #000000d2;
    z-index: -2;
    transition: all 0.4s ease;
}

#create-account-wrapper {
    width: 100vw;
    background-color: transparent;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    padding: 2em 0;
    overflow: hidden;
}

#keep-track-logo a {
    display: none;
    line-height: 1.8em;
    text-align: center;
    color: #27ae60;
    font-size: 1.4rem;
}

#header {
    background: #2F80ED;
    color: #fff;
    text-align: center;
    padding: 0.5em;
    width: 100%;
}

#create-account-wrapper p {
    font-weight: 200;
    padding: 1em 0;
    color: #fff;
    font-size: 1em;
    text-align: center;
}

#create-account-wrapper a:hover {
    text-decoration: underline grey;
}

.select-account-type #select-input {
    color: #110022;
}

#create-account-wrapper #validation-error {
    color: #F24A4A;
    padding: 0.5em;
    border-radius: 0.4em;

}

.form-group {
    position: relative;
}

#email,
#password,
#full-name {
    background-color: transparent;
    outline: none;
    border: none;
    flex: 1;
    padding: 1.5em 0 1.5em 0.8em;
    font-size: 1.2em;
    font-weight: 700;
    color: #110022;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif, cursive;
    z-index: 3;
}

.error-message {
    display: block;
    width: inherit;
    color: #F24A4A;
    text-align: center;
    margin-top: -1em;
    font-size: 0.8em;
    visibility: hidden;
}

.select-account-type,
.account-type {
    display: flex;
    align-items: center;
    justify-content: space-between;
    background-color: #fff;
    width: 90%;
    border: 2px solid #fff;
    border-radius: 3em;
    margin: 1em auto;
    font-size: 1.1em;
    font-weight: 700;
    position: relative;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif, cursive;

}

.select-account-type {
    padding: 2.4em 0 2.1em 2.6em;
    font-size: 1.1em;
}

.account-type {
    outline: none;
    font-size: 1em;
    padding: 0;
    cursor: pointer;
    display: block;
    overflow: hidden;
    position: absolute;
    bottom: -7.3em;
    left: -50%;
    right: -50%;
    border-radius: 0 0 2em 2em;
    background-color: #fff;
    box-shadow: 0 6px 25px rgba(28, 29, 32, 0.34);
}


li {
    display: block;
    list-style: none;
    padding: 0.8em;
    text-align: center;
}

li:hover {
    background-color: #2F80ED;
    color: #FFF;
}

li:nth-of-type(2) {
    border-bottom: 1px solid rgb(195, 195, 195);
    border-top: 1px solid rgb(195, 195, 195);
}

.select-account-type i {
    font-size: 1.3em;
    cursor: pointer;
    color: #2F80ED;
}

.select-account-type #select-input {
    padding: 0;
    font-weight: 700;
    flex: 1;
    text-align: start;
    display: none;
}

#select-account {
    display: none;
    transition: all 0.3s linear;
}

.fa-sort-down:before {
    content: "\f0dd";
    padding-right: 1em;
    position: absolute;
    right: 0.5em;
    top: 1em;
}

.fa-sort-up:before {
    content: "\f0de";
    padding-right: 1em;
    position: absolute;
    right: 0.5em;
    top: 1.2em;
}

#show-hide-password {
    position: initial;
    cursor: pointer;
}

.form-input {
    width: 90%;
    background-color: #fff;
    border: 2px solid #FFFFFF;
    border-radius: 3em;
    padding: 0 1em 0 2em;
    margin: 1em auto;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    overflow: hidden;
    outline: none;
    position: relative;
}


.form-input i {
    position: absolute;
    display: inline-block;
    color: #2F80ED;
    padding: 0 0 0 0.6em;
    outline: none;
    border: none;
    left: 0.7em;
}

.fa-eye:before,
.fa-eye-slash:before {
    padding-right: 1.3em;
    position: absolute;
    top: 0;
    right: 0.5em;
    top: 2em;
    z-index: 4;
}

form {
    width: 100%;
}

/* Validation bg color and styles */
.failed {
    background-color: #F24A4A;
}

label.label,
#account-type-label {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-size: 1em;
    font-weight: 700;
    padding-bottom: 0.5em;
    color: #110022;
    background-color: transparent;
    display: block;
    width: inherit;
    position: absolute;
    left: 2.6em;
    top: 2em;
    z-index: 0;
    transition: all 0.4s ease;
}

#account-type-label {
    top: 1.6em;
}

#email:focus+label.label,
#password:focus+label.label,
#full-name:focus+label.label,
#select-input:focus+#acccount-type-label {
    top: 0.4em;
    font-weight: 500;
    color: #110022;
    left: 2.7em;
}

#acccount-type-label {
    cursor: pointer;
}

form input:valid+label.label {
    top: 0.4em;
    left: 2.9em;
    color: #110022;
    font-weight: 500;
}

#create-account-btn,
#notification button {
    display: block;
    background: #2F80ED;
    border: 2px solid #FFFFFF;
    border-radius: 3em;
    padding: 1em 2em;
    cursor: pointer;
    margin: 1em auto 1em auto;
    color: #fff;
    outline: none;
    text-align: center;
}

#create-account-btn {
    width: 50%;
}

#create-account-btn:hover {
    background: #27ae60;
}

.sign-in-link {
    color: #F2994A;
}

/* Section: Notification Message after account creation */

#notification {
    /* display: flex; */
    display: none;
    justify-content: center;
    align-items: center;
    position: absolute;
    text-align: center;
    width: 100vw;
    height: 100vh;
    top: 0;
    left: 0;
    background-color: #110022f5;
    z-index: 5;
}

#notification-contents {
    background-color: #fff;
    height: auto;
    width: 90%;
    border-radius: 1em;
    padding: 4em 1em;
}

#notification i {
    color: #27ae60;
    font-size: 3em;
    margin-bottom: 0.5em;
}

#notification-msg {
    color: rgba(0, 0, 0, 0.754);
}

/* MEdia queries */
@media screen and (max-width:369px) {

    #show-hide-password {
        padding: 0 0.6em 0 0;
    }

    .form-input i {
        padding-left: 0.4em;
        top: 2.3em;
    }
}

@media screen and (min-width:500px) {
    .form-input,
    .select-account-type {
        width: 80%;
    }

    #create-account-btn {
        width: 35%;
    }
}

/* @media screen and (min-height:600px) and (orientation:portrait) {
    main {
        height: 100vh;
    }
} */

@media screen and (min-width:600px) {
    main {
        height: initial;
        border: none;
    }

    #menu-icon {
        display: none;
    }

    #menu {
        display: flex;
        text-align: center;
        right: 0;
        background-color: unset;
        padding: 0 2em;
        width: unset;
        align-items: baseline;
        justify-content: flex-end;
    }

    #menu a {
        display: block;
        padding: 0;
        width: initial;
        margin: 0 0.5em;
        color: rgba(255, 255, 255, 0.483);
    }

    #menu a:hover {
        color: #fff;
    }

    #menu-wrapper {
        border-radius: unset;
        overflow: unset;
        position: initial;
        z-index: unset;
        transform-origin: unset;
        clip-path: unset;
        transition: all 0.4s ease;
    }

    form {
        padding: 0;
    }

    .account-type {
        box-shadow: 0 6px 25px rgba(39, 174, 95, 0.34);
    }

    #keep-track-logo a {
        font-size: 2rem;
        padding: 1em 0;

    }

    #create-account-wrapper {
        background-color: #fff;
        padding: 0 0 2em 0;
        width: 60vw;
        border-radius: 5em 5em 1em 1em;
    }

    .form-input,
    .select-account-type {
        background-color: rgba(137, 137, 137, 0.489);
    }

    #header {
        font-size: 3em;
    }

    form {
        width: 50vw;
        ;
    }

    .form-input,
    .select-account-type {
        width: 100%;
    }

    .select-account-type {
        width: 100%;
    }

    #create-account-btn {
        width: 55%;
    }

    #create-account-wrapper p {
        color: #000;
    }

    .select-account-type #select-input {
        color: #110022;
    }

}

@media screen and (max-height:619px) and (max-width:599px) {
    #create-account-wrapper {
        overflow-y: auto;
    }

    main {
        border: none;
        height: fit-content;
        padding: 0;
        overflow: auto;
    }
  
}

@media screen and (min-width:1024px) {
    #create-account-wrapper {
        width: 50vw;
    }

    form {
        width: 40vw;
    }
}

@media screen and (min-width:2560px) {
    #create-account-wrapper {
        width: 30vw;
    }

    form {
        width: 25vw;
    }
}

